
h1 {
  text-align: center;
}


.container{
  float: left;
  border-radius: 30px;
padding: 10px;
margin: 10px;
width: 500px;
height: 350px;
  display: grid ;
  grid-template-columns: 1fr 1fr;
border: solid 10px black;
}


.movieBody{
 

background-color: blue;
padding: 20px;
border: 20px solid red;
margin: 20px;
height: fit-content;
width: fit-content;
box-sizing: border-box;
  --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
    width: 100%;

    margin-bottom: 2.5rem;
}

.date{
  font-size: large;
  font-weight: bold;
  position: relative;
  top: 30px;

}

.starDiv{
 position: relative;
font-size: x-large;
left: 250px;
padding: 0px;
margin: 0px;
}

.checked {
  position: relative;
  bottom: 15px;
  left: 35px;
  color: orange;
  
}
.elem{
  position: relative;
  right: 300px;

}

.img{
  border-radius: 20px;
  max-width: 30ex;
  align-self: center;
position: relative;
left:100px;
}
.p{ 
  text-align: center;
 
}