
h1 {
  text-align: center;
}
.Movie{
  position: relative;
  left: 550px;
}
.App-header{
 
  display: flex;
  align-items: center;
}
.container{
  
  float: left;
  border-radius: 30px;
padding: 10px;
margin: 10px;
width: 600px;
height: 360px;
  display: grid ;
  grid-template-columns: 1fr 1fr;
border: solid 5px rgb(18, 130, 109);
}

.over{ 
overflow: hidden;
max-height: 110px;
}
.movieBody{
 

background-color: blue;
padding: 20px;
border: 20px solid red;
margin: 20px;
height: fit-content;
width: fit-content;
box-sizing: border-box;
  --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
    width: 100%;

    margin-bottom: 2.5rem;
}

.date{
  font-size: large;
  font-weight: bold;
 
  

}

.starDiv{
 position: relative;
font-size: x-large;
left: 70px;
padding: 0px;
margin: 0px;
}

.checked {
  position: relative;
  bottom: 15px;
  left: 35px;
  color: orange;
  
}



.img{
  border-radius: 20px;
  max-width: 30ex;
  align-self: center;
position: relative;
left:10px;
top: 20px;
}


.p{ 
  text-align: center;
 
}

.seeMore{
  background-color:rgb(18, 130, 109); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  left: 580px;
}

.homeButton{
  background-color:rgb(18, 130, 109); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  right: 130px;
  border-radius: 20px;
 
}

.favButton{
  background-color:rgb(18, 130, 109); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
 right: 100px;
 border-radius: 20px;
 
}
